* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Variables  */
:root {
  --font-family1: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  --font-family2: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;

  --nav-fontsize-1: 1.2rem;
  --nav-fontsize-2: 1.4rem;
  --nav-fontsize-3: 1.6rem;
  --nav-fontsize-4: 1.8rem;

  --padding-1: 1rem;
  --padding-2: 1.5rem;
  --padding-3: 2rem;

  --margin-1: 1rem;
  --margin-2: 1.5rem;
  --margin-3: 2rem;
}

a {
  text-decoration: none;
  color: rgb(103, 92, 224);
  color: rgb(17, 16, 23);
}

ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

li {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

body {
  font-family: var(--font-family1);
  overflow-x: hidden;
  /* background-color: rgb(85, 180, 180); */
  /* background-color: lightslategray; */
  background-color: white;
}

main {
  padding: 1rem 1rem 3rem 1rem;
  height: 100%;
  /* margin-bottom: 2rem; */
}

/* Footer */
footer {
  background-color: slateblue;
  height: 3rem;
  position: block;
  width: 100%;
  /* bottom: 0;
  left: 0; */
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  letter-spacing: 2px;
}

/* Form */

form {
  max-width: 45rem;
  margin: 0 auto;
  font-size: 1.2rem;
}

.signIn__page {
  height: 80vh;
}

.signUp__page {
  height: 80vh;
}

.register__button a {
  width: 6rem;
}

div > input,
textarea {
  padding: 0.5rem;
  margin: 0.5rem 0;
  font-size: 1rem;
}

form > div {
  display: flex;
  flex-direction: column;
  margin: 1rem;
}

select {
  padding: 0.6rem;
}

select:hover {
  border: 1px black solid;
}

button {
  padding: 0.5rem;
  border-radius: 0.2rem;
  font-size: 1rem;
  width: 8rem;
}

button:hover {
  cursor: pointer;
  color: white;
}

button.primary {
  background-color: rgb(85, 180, 180);
  padding: 0.5rem 1rem;
}

button.block {
  width: 100%;
}

/* Navbar */
header {
  background-color: blueviolet;
  height: 3.5rem;
  display: flex;
  justify-content: space-between;
  padding: 0 3rem;
  align-items: center;
}

header .brand {
  text-decoration: none;
  font-size: var(--nav-fontsize-2);
  color: black;
}

.header {
  display: flex;
  list-style-type: none;
}

.header .header-item {
  text-decoration: none;
  font-size: var(--nav-fontsize-1);
  letter-spacing: 0px;
  font-weight: 300;
  margin-left: var(--margin-2);
  color: white;
}

.header-item:hover,
.header-item-active {
  color: rgb(56, 56, 56);
  font-size: var(--nav-fontsize-1);
}

.mobile__menu__body {
  display: none;
}

.mobile__menu__header {
  display: none;
}

.dropdown-content li a {
  display: inline-block;
  width: 8rem;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  position: absolute;
  background-color: blueviolet;
  z-index: 1;
  width: 10rem;
  right: -2rem;
  top: 2rem;
  padding: 0.3rem;
  display: none;
  /* transform: scale(0);
  transform-origin: top;
  transition: all 800ms; */
}

.dropdown:hover .dropdown-content {
  display: block;
  /* transform: scale(1); */
}

.dropdown-icon {
  margin-bottom: -0.2rem;
}

.dropdown-icon-active {
  color: rgb(57, 233, 57);
  stroke-width: 30;
}

/* Table */
table {
  /* border: 1px black solid; */
  width: 100%;
  text-align: left;
  margin: 1rem 0;
  /* overflow-x: auto; */
  border-collapse: collapse;
}

thead {
  background-color: white;
}

th {
  background-color: rgb(92, 171, 224);
  padding: 0.5rem;
  font-weight: bold;
  font-size: 1.2rem;
}

td {
  /* border: 1px black solid; */
  padding: 0.5rem 0.8rem 0.5rem;
  font-size: 1.1rem;
}

tbody > :nth-child(odd) {
  background-color: #e1f2fb;
}

tbody > *:hover {
  background-color: #c9e2e3;
}

table button {
  margin: 0 auto;
  background-color: rgb(111, 84, 191);
  color: #cfbbff;
  font-size: 1.3rem;
}

table button:hover {
  font-weight: 500;
  border: 2px black solid;
}

tbody > tr > :nth-child(n + 4),
table thead {
  text-align: center;
}

.subStringTableContent {
  display: none;
}

/* Alert */

.alert {
  border-radius: 0.5rem;
  background-color: #d7cccc;
  border: 2px rgb(49, 118, 137) solid;
  padding: 1rem 1rem 1rem 4rem;
  font-size: 1.2rem;
}

.alert-info {
  background-color: #d1ffb4;
  /* border: 2px rgb(49, 118, 137) solid; */
}

.alert-danger {
  background-color: #f7a5a5;
  /* border: 2px rgb(49, 118, 137) solid; */
}

/* ------------------ Body -----------------*/

.row-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, 10rem);

  grid-auto-rows: minmax(8rem, 10rem);
  /* grid-row-gap: 8rem; */
  padding: 0 2.5rem 0;
  margin-bottom: 12rem;
  row-gap: 9rem;
  column-gap: 5rem;

  /* grid-gap: 10rem; */
  /* grid-gap: ; */

  /* padding: 0 2rem 0; */
  /* flex-wrap: wrap;
  justify-content: flex-start; */
  /* align-items: center; */
}

.row-flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  /* height: 50vh; */
  /* height: 35vh; */
  /* padding: 1rem; */
  height: 100%;
}

.row-flex > * {
  padding: 0 1rem;
}

.row-flex.top {
  align-items: flex-start;
}

.row-flex.bottom {
  align-items: flex-end;
}

.center {
  justify-content: center;
  /* padding-left: 0; */
}

.col-1 {
  flex: 1 1 25rem;
  /* background-color: blueviolet; */
}

.col-2 {
  flex: 1 1 40rem;
  /* background-color: pink; */
  /* padding: 0 5%; */
}

.col-3 {
  flex: 1 1 60rem;
  /* background-color: brown; */
}

.page-header {
  margin: 1rem;
}

.detailsPage__bodyContent {
  /* height: 100%; */
}

/* Card */

.card {
  /* background-color: rgb(252, 252, 231); */
  /* border-radius: 0.5rem; */
  border-radius: 1.2rem;
  border: 1px rgb(174, 167, 167) solid;
  padding: 1rem;
  margin: 0.5rem auto;
  line-height: 1.4rem;
  font-size: 1.1rem;
  font-weight: 200;
  max-width: 75vw;
}

.card:hover {
  background-color: rgb(252, 252, 231);
  border-radius: 0.5rem;
  border: 1px rgb(174, 167, 167) solid;
  padding: 1rem;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
}

.card > * {
  margin-top: 0.8rem;
  /* padding: 0.2rem; */
}

/* Image */
img {
  border-radius: 0.5rem;
}
img.vsmall {
  max-width: 5rem;
  max-height: 6.5rem;
  width: 100%;
}

img.small {
  /* max-width: 7rem; */
  width: 11rem;
  height: 13rem;
  /* width: 100%; */
  /* border: 1.5px rgb(202, 197, 197) solid; */
}

img.productImg {
  /* max-width: 7rem; */
  width: 10rem;
  height: 14rem;
  /* width: 100%; */
  margin: 0 auto;

  /* border: 1.5px rgb(202, 197, 197) solid; */
}

/* .container {
  background-color: red;
  padding: 1rem;
  max-width: 32rem;
  margin: 0 auto;
} */

img.medium {
  display: block;
  /* max-width: 30rem; */
  width: 30rem;
  /* height: 100%; */
  margin: 0 auto;
  /* aspect-ratio: 4 / 3; */

  /* margin: 0 auto; */
  /* width: 100%; */
  /* object-fit: contain;
  margin: 0 auto; */
}

img.large {
  /* width: 100%; */
  /* object-fit: contain; */
  width: 35rem;
  /* height: 100%; */
  /* margin: 0 auto; */
}

.image_container_front {
  /* border: 1px black solid; */
  /* max-width: 11rem;
  max-height: 14rem; */
}

.image_container_back {
  border: 1px rgb(202, 197, 197) solid;
  border-radius: 0.3rem;
  /* max-width: 11rem;
  max-height: 14rem; */
}

/* Icons  */

.cart_trey {
  position: fixed;
  top: 10rem;
  right: 0;
  width: 4.5rem;
  /* background-color: #cfbbff; */
  background-color: #7a81eb;
  z-index: 5;
  display: flex;
  align-items: center;
  border-left: 2px #a6d1e6 solid;
  border-top: 2px #a6d1e6 solid;
  border-bottom: 2px #a6d1e6 solid;
  height: 3rem;
  padding: 1rem 1rem 1rem 0.5rem;
  cursor: pointer;
}

.cart_trey:hover {
  /* background-color: #bea9ef; */
  animation: trayAnimate 300ms ease-in forwards;
  justify-content: center;
}

@keyframes trayAnimate {
  0% {
    width: 4.5rem;
  }

  100% {
    width: 12.5rem;
  }
}

.cart_list {
  /* display: none; */
  visibility: collapse;
  position: absolute;
  right: 0;
  top: 2.85rem;
  padding: 0.6rem 0 0.6rem 0.6rem;
  width: 12rem;
  /* background-color: #d2c2f9; */
  background-color: #6e85b7;

  font-size: 1rem;
  color: #3d3c42;

  cursor: context-menu;
}

.cart_trey:hover .cart_list {
  /* animation: cartListAnimate 400ms  300ms ease-out forwards; */
  animation-name: cartListAnimate;
  animation-duration: 300ms;
  animation-timing-function: ease-in;
  animation-delay: 350ms;
  animation-fill-mode: forwards;

  transform-origin: top;

  /* display: block; */
}

@keyframes cartListAnimate {
  0% {
    transform: scaleY(0);
  }
  25% {
    transform: scaleY(0.25);
  }
  50% {
    transform: scaleY(0.5);
  }
  75% {
    transform: scaleY(0.75);
  }
  100% {
    transform: scaleY(1);
    visibility: visible;
  }
}

.cart_trey_icon {
  margin-bottom: 0.1rem;
  color: #5534a5;
  color: black;
  color: #fff;
}

.cart_counter {
  position: absolute;
  margin-top: 0.1rem;
  top: 2px;
  left: 30px;
  color: rgb(241, 6, 45);
  color: rgb(221, 38, 69);
  /* color: #eb1d36; */
  font-size: 1.1rem;
  transition: left 300ms ease-in;
}

.cart_trey:hover .cart_counter {
  left: 105px;
}

/* Card */
.card-notused {
  /* border: 0.1rem #c0c0c0 solid; */
  /* background-color: #f8f8f8; */

  border-radius: 0.5rem;
  margin: 1rem;
  min-width: 12rem;
  height: 100%;
}

.card-notused:hover {
  border: 0.1rem #4e4d4d solid;
}

.flip-card {
  /* background-color: #f8f8f8; */
  background-color: #fff;

  /* border-radius: 0.5rem; */
  margin: 2rem -1rem;

  /* min-width: 12rem; // real width */
  /* min-width: 15rem; */
  /* width: 12rem; */
  width: 13rem;
  /* max-width: 14rem; */

  /* min-width: 100%; */
  /* max-width: 20rem; */
  height: 100%;

  perspective: 1000px; /*Remove this if you don't want the 3D effect */
}

/* This container is needed to position the front and back side */
.flip-card-inner {
  position: relative;
  /* width: 100%;
  height: 100%; */
  /* max-width: 29rem;
  width: 100%; */

  margin: 0 1rem 1rem 0;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  /* border: 0.1rem #c0c0c0 solid; */
}

/* Do an horizontal flip when you move the mouse over the flip box container */
.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

/* Position the front and back side */
.flip-card-front,
.flip-card-back {
  padding: 0.5rem;
  position: absolute;

  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: 5px;
  width: 12rem;
  height: 17.5rem;
}

/* Style the front side (fallback if image is missing) */
.flip-card-front {
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
    rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
  /* background-color: #bbb; */
  /* background-color: #fff; */
  background-color: #7858a6;

  color: white;
  border: 1px #c0c0c0 solid;
  /* border-radius: 10px 35px 20px 40px; */
  border-radius: 10px 10px 20px 20px;
}

/* Style the back side */
.flip-card-back {
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */

  /* box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px; */

  box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
  /* background-color: rgb(208, 212, 215); */
  margin: 0rem 0rem;
  background-color: #c0c0c0;

  color: white;
  transform: rotateY(180deg);
  /* border: 1.5px rgb(62, 62, 62) solid; */
  /* margin-right: 0rem; */
  /* border: 1px black solid; */
  /* border-radius: 10px 30px 40px 10px; */
}

/* Cart */

.cart {
  border: 1px gainsboro solid;
  padding: 0.4rem;
  border-radius: 0.4rem;

  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.cart-item {
  padding: 0.2rem;
}

.cart-item:hover {
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  background-color: rgb(241, 250, 250);
  border-radius: 0.2rem;
}

.checkout > div {
  border-bottom: 4px grey solid;
  font-size: 1.3rem;
  width: 25%;
  margin-bottom: 2rem;
}

.checkout > div.active {
  border-bottom: 4px rgb(246, 169, 54) solid;
  color: rgb(246, 169, 54);
}

/* Pagination */
.paginationBox {
  border-radius: 0.5rem;
  border: 1px black solid;
  padding: 0.8rem;
  justify-content: center;
  margin: 0 auto;
  /* background-color: darkslategrey; */
  background-color: rgb(80, 110, 110);

  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
    rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}

.paginationBox a {
  margin-right: 0.5rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #d0baf5;
}

.paginationBox a:hover {
  color: whitesmoke;
}

/* .paginationBox a:first-child {
  color: #7734eb;
  font-size: 1.5rem;
} */

.paginationBox a:last-child {
  margin-right: 0;
}

.seachComponent {
  min-width: 8rem;
}

.select_search {
  padding: 0.5rem;
  border-radius: 0.3rem;
  font-size: 0.9rem;
  font-weight: 600;
  color: black;
  background-color: #9d6edf;
  border: 2px rgb(143, 131, 130) solid;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}

.select_search:hover {
  border: 2px #7858a6 solid;
}

.category_list {
  background-color: rgb(228, 228, 250);
  border: 2px #9d6edf solid;
  padding: 0.5rem 0.8rem;
  border-radius: 0.4rem;
  width: 10rem;
}

.category_list:hover {
  background-color: rgb(242, 242, 249);
}

.searchBox {
  border-radius: 0.3rem 0 0 0.3rem;
  padding: 0.2rem 0.5rem;
  font-size: 1rem;
  max-width: 14rem;
}

.seachComponent button {
  border-radius: 0 0.3rem 0.3rem 0;
  width: 2rem;
  height: 1.8rem;
  padding: 0.2rem;
  margin-top: 0.5px;
}

/* MEDIA */

@media (max-width: 1110px) {
  .col-2 {
    flex: 1 1 30rem;
  }

  img.large {
    /* width: 100%; */
    /* object-fit: contain; */
    width: 100%;
    /* height: 14rem; */
  }
  .col-3 {
    flex: 1 1 20rem;
  }
  /* img.large {
    width: 12rem;
  }

  img.medium {
    width: 12rem;
  } */
}

/* Table Media Query */
@media screen and (max-width: 1000px) {
  table {
  }

  .productTable th:nth-child(2) {
    display: none;
  }

  .productTable td:nth-child(2) {
    display: none;
  }

  .productTable th:nth-child(4) {
    display: none;
  }

  .productTable td:nth-child(4) {
    display: none;
  }

  .productTable th:nth-child(6) {
    display: none;
  }

  .productTable td:nth-child(6) {
    display: none;
  }
}

@media (max-width: 800px) {
  .row-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, 9rem);

    grid-auto-rows: minmax(8rem, 10rem);
    padding: 0 1rem 0;
    row-gap: 9rem;
  }

  header {
    padding: 0 1rem;
  }

  .searchBox {
    width: 9rem;
  }
}

@media (max-width: 600px) {
  .col-3 {
    flex: 1 1 20rem;
  }

  .col-2 {
    flex: 1 1 20rem;
  }

  img.large {
    /* width: 100%; */
    /* object-fit: contain; */
    width: 100%;
    /* height: 14rem; */
  }

  img.medium {
    display: block;
    /* max-width: 30rem; */
    width: 30rem;
    /* height: 100%; */
    margin: 0 auto;
    /* aspect-ratio: 4 / 3; */

    /* margin: 0 auto; */
    /* width: 100%; */
    /* object-fit: contain;
    margin: 0 auto; */
  }

  header {
    padding: 0 1rem;
  }

  .header {
    display: none;
  }

  .mobile__menu__header {
    display: block;
  }

  .mobile__menu__header > button {
    width: 4rem;
    background-color: #9aabd0;
    background-color: #7390cf;
    background-color: #ba75f7;
  }

  .mobile__menu__body {
    position: absolute;
    z-index: 100;
    display: flex;
    /* background-color: #5534a5; */
    width: 100%;
    height: 40vh;
    padding: 0rem 0 1rem 0;
  }

  .mobile__body1 {
    flex: 1 1 10rem;
  }
  .mobile__body2 {
    flex: 1 1 20rem;
  }

  .mobile__menu__options {
    flex: 1;
    display: grid;
    background-color: rgb(165, 85, 246);
    height: 100%;
    padding-left: 2.5rem;
    padding-top: 1rem;
  }

  .mobile__submenu__options {
    /* display: grid; */
    background-color: pink;
    height: 10vh;
    padding-left: 1rem;
    position: absolute;
  }

  .mobile__menu__option {
    color: whitesmoke;
  }

  .mobile__menu__option:active {
    color: rgb(182, 221, 237);
  }
  /* .mobile__body2,
  .mobile__submenu__admin,
  .mobile__submenu__user {
    display: none;
  } */

  .admin__menu > .admin__submenu {
    display: none;
  }

  .admin__menu:hover {
    color: #252a2f;
    font-size: 1.1rem;
  }

  .admin__menu:hover > .admin__submenu {
    display: block;
    margin-top: -1.5rem;
    margin-left: 5rem;
    background-color: rgb(213, 194, 231);
    color: #e49323;
    padding: 0.5rem 1rem;
    border-radius: 3px;

    animation: animateHeight 0.5s ease-out;
  }

  .admin__submenu li a {
    color: rgb(252, 255, 255);
  }

  .user__submenu li a {
    color: rgb(252, 255, 255);
  }

  .user__menu > .user__submenu {
    display: none;
  }

  .user__menu:hover {
    color: #252a2f;
    font-size: 1.1rem;
  }

  .user__menu:hover > .user__submenu {
    display: block;
    margin-top: -1.5rem;
    margin-left: 5rem;
    background-color: rgb(213, 194, 231);
    color: #eff9ff;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    animation: animateHeight 0.4s;
  }
  @keyframes animateHeight {
    from {
      height: 0;
      opacity: 0;
    }
    to {
      height: 100%;
      opacity: 1;
    }
  }

  .searchBox {
    width: 10rem;
  }
  /* img.large {
    width: 12rem;
  }

  img.medium {
    width: 12rem;
  } */

  .category_list {
    margin-top: 1rem;
  }

  .checkout > div {
    font-size: 1rem;
  }
}

@media (max-width: 370px) {
  .searchBox {
    width: 6rem;
  }

  .checkout > div {
    font-size: 0.8rem;
  }
}
